@import url('https://use.typekit.net/ffz2wze.css'); 

body {
    font-family: "droog", sans-serif; 
    font-weight: 900; 
    font-style: normal; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    padding: 0; 
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;  
    min-height: 100%; 
    z-index: -1;      
    object-fit: cover; 
}

.transparent-button {
    font-family: "droog", sans-serif;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0); 
    color: rgb(238, 23, 23); 
    padding: 10px 20px;
    cursor: pointer; 
    font-size: 50px;
}

.transparent-button:hover {
    background-color: rgba(0, 0, 0, 0.1); 
}
.back-button {
    position: fixed; 
    left: 1%; 
    top: 590px; 
    font-family: "droog", sans-serif; 
    font-weight: 900; 
    font-size: 24px; 
    color: rgb(238, 23, 23); 
    background: transparent; 
    border: none; 
    cursor: pointer; 
    z-index: 1; 
}

.back-button:hover {
    color: rgba(255, 255, 255, 0.8); 
    transform: scale(1.1); 
    transition: color 0.3s, transform 0.3s; 
}
p {
    position: absolute;
    top: 10%;
    left: 90%;
    transform: translateX(-50%);
    text-align: center; 
}

a {
    display: block;
    margin: 10px 0; 
    text-decoration: none; 
    color: yellow; 
    font-family: "droog", sans-serif; 
    font-size: 24px;
}

a:hover {
    color: rgba(255, 255, 255, 0.8);
}
